.edit {
    font-family:'Courier New', Courier, monospace ;
    font-size:larger ;
    font-style:italic ;
    font-weight: 800 ;
}

.edit2 {
    font-family:Verdana, Geneva, Tahoma, sans-serif ;
    font-size:small ;
    font-style:italic ;
    font-weight:200 ;
}

.edit3 {
    font-family:monospace ;
    font-size:medium ;
    font-style:oblique ;
    font-weight:500 ;
}

.edit4 {
    font-family:fantasy ;
    font-size: x-small;
    font-style: normal;
    font-weight:400 ;
}

